
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navegador {
    background-color: #333;
    padding: 10px;
}
.navegador-lista ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.navegador-lista ul li {
    margin: 15px;
}
.navegador a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navegador-lista a:hover {
    color: #0093dc;
}


.seção {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.caixa {
    display: flex;
    flex-direction: column;
}
.grupo {
    margin-bottom: 15px;
    
    
}

.caixa.termos div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
label {
    margin-bottom: 5px;
    font-size: 16px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    
}
input:focus, select:focus, textarea:focus {
    border-color:#141515;
    outline: none;
}


textarea {
    resize: vertical;
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
    padding: 10px ;
    background-color: #141515;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #ccc;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #141515;
    margin-bottom: 5px;
   
    
}


.rodape {
    background-color: #141515;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 14px;
}
.rodape p {
    margin: 10px;
}


